/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
			
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000;
}
#dialog {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5em;
  margin-left: -12em;
  width: 24em;
  background: #2a2a2a;
  z-index: 1000;
}
#dialog .title {
  margin: 0;
  padding: 0.2em 0.5em;
  background: #333;
  color: #fff;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
}
#dialog .description {
  margin: 0;
  padding: 0.5em;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#viewport-frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-image: url('/quakejs-border.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24em;
  z-index: 1;
}

#viewport-frame:focus {
  outline: none;
}

.done-loading #viewport-frame canvas {
  background-color: rgba(0, 0, 0, 1.0);
}
#viewport-frame canvas {
  background-color: rgba(0, 0, 0, 1.0);
  width: 100%;
  height: 100%;
  transition: background-color 1s ease-in-out;
}

#viewport-frame:-moz-full-screen,
#viewport-frame canvas:-moz-full-screen {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#viewport-frame:-webkit-full-screen,
#viewport-frame canvas:-webkit-full-screen {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#loading {
  display: none; 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#loading-progress {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-bottom: -14em;
  margin-left: -12em;
  padding: 0.4em;
  width: 24em;
  background: transparent;
  z-index: -1;
  transition: opacity 1s ease-in-out;
  opacity: 1.0;
}

#loading-progress .description {
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
}

#loading-progress .description div {
  opacity: 0;
}

#loading-progress .description div:nth-last-child(1) {
  opacity: 1;
}

#loading-progress .description div:nth-last-child(2) {
  opacity: 0.7;
}

#loading-progress .description div:nth-last-child(3) {
  opacity: 0.5;
}

#loading-progress .description div:nth-last-child(4) {
  opacity: 0.2;
}

#loading-progress .bar-wrapper {
  background: #222;
  border-radius: 2px;
}

#loading-progress .bar {
  width: 0;
  background: #FFFFFF;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
}

.viewport-frame {
  perspective: 1000px;
}

.done-loading #flipper,
.done-loading #loading-progress {
  /* opacity: 0.0; */
  z-index: -1;
}

/* flip the pane when hovered */
#flipper {
  animation: rotatequake 1s infinite ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  transition: opacity 1s ease-in-out;
  opacity: 1.0;
}

.front, .back {
  backface-visibility: hidden;
  background-image: url('/quakejs-noborder-transparent.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.nipple {
  pointer-events: none;
}

@-webkit-keyframes rotatequake {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); }
}

#right-joystick, #left-joystick {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  max-width:50%;
  height:100%;
  width:100%;
  display:none;
  z-index:1000;
}

#right-joystick {
  left:50%;
}

.joysticks #right-joystick, .joysticks #left-joystick {
  display:block;
}
