/build/
output/
.vs/
.vscode/
*.user
*tags
*.tags*
.tags*
/code/libjpeg/
/bin/

# emscripten
####################
code/wasm/node_modules/
/node_modules/
.resources
libs/tools/mbspc/build
libs/omni-bot/GameInterfaces/ET-GPL/src/curl-7.12.2
libs/darwin/
libs/linux/
